.u-section-1 .u-sheet-1 {
  min-height: 192px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 61px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 463px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 412px;
  background-image: url("images/IMG_6856.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 428px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 8px;
}

.u-section-2 .u-text-1 {
  width: 209px;
  margin: 38px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 72px 22px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 72px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-image-1 {
    min-height: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-2 .u-image-1 {
    min-height: 260px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-image-1 {
    min-height: 585px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-2 .u-image-1 {
    min-height: 368px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-2 .u-text-1 {
    width: 143px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 54px 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 315px;
  background-image: url("images/IMG_6855.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 48px;
}

.u-section-3 .u-text-1 {
  margin: 37px 12px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 12px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 337px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 337px;
  background-image: url("images/IMG_68532.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-3 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 363px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-image-1 {
    min-height: 545px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1625px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 343px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 379px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 391px;
  }
}