.u-section-1 .u-sheet-1 {
  min-height: 707px;
}

.u-section-1 .u-text-1 {
  margin: 88px auto 0;
}

.u-section-1 .u-image-1 {
  height: 497px;
  margin-top: 70px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-1 .u-image-1 {
    height: 403px;
    margin-top: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
    margin-top: 61px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 232px;
    margin-top: 31px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 147px;
    margin-top: 14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-image-1 {
  height: 500px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-image-1 {
    height: 405px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-2 .u-image-1 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-2 .u-image-1 {
    height: 228px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-2 .u-image-1 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-image-1 {
  min-height: 496px;
  background-image: url("images/ScreenShot2022-02-14at11.24.28PM.png");
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 148px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 497px;
}

.u-section-4 .u-image-1 {
  height: 496px;
  margin-top: 1px;
  margin-bottom: 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-4 .u-image-1 {
    height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-4 .u-image-1 {
    height: 313px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-4 .u-image-1 {
    height: 236px;
    margin-top: 5px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-4 .u-image-1 {
    height: 147px;
  }
}.u-section-5 .u-image-1 {
  min-height: 500px;
  background-image: url("images/ScreenShot2022-02-14at11.24.48PM1.png");
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 149px;
  }
}