 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 442px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 261px;
  margin: 68px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 803px;
  margin: 80px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 256px;
    margin-top: 56px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-text-1 {
    width: 161px;
    margin-top: 68px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 80px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 85px auto 0;
}

.u-section-2 .u-text-2 {
  width: 802px;
  margin: 48px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 662px;
  width: 909px;
  margin: 48px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2484px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2099px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1959px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1574px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 991px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 67px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 34px auto 0;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 35px auto 34px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-left: 65px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-video-1 {
    height: 303px;
    margin-bottom: -17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-video-1 {
    height: 195px;
    margin-bottom: -23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 540px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 47px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 270px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 656px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 26px 0 60px;
}

.u-section-5 .u-image-1 {
  min-height: 600px;
  background-image: url("images/ScreenShot2021-12-16at11.33.44PM.png");
  background-position: 100% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 327px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 23px 35px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 299px;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 100px;
}

.u-section-5 .u-image-2 {
  object-position: 50% 52.8%;
  width: 536px;
  height: 317px;
  margin: -48px -100px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 495px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-5 .u-image-2 {
    width: 355px;
    height: 210px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-5 .u-image-1 {
    min-height: 379px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 315px;
    height: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 569px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 358px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 63px;
  }
}