.u-section-1 .u-sheet-1 {
  min-height: 607px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-1 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 70px auto 55px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-video-1 {
    height: 304px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    margin-top: 26px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 508px;
}

.u-section-2 .u-image-1 {
  height: 468px;
  margin-top: 40px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-2 .u-image-1 {
    height: 412px;
    margin-top: 73px;
    object-position: 50% 0%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-image-1 {
    height: 313px;
    margin-top: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-2 .u-image-1 {
    height: 235px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-2 .u-image-1 {
    height: 149px;
    margin-top: 45px;
    margin-bottom: 0;
  }
}.u-section-3 .u-image-1 {
  min-height: 500px;
  background-image: url("images/ScreenShot2022-02-15at3.03.00AM.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 149px;
  }
}.u-section-4 .u-image-1 {
  min-height: 500px;
  background-image: url("images/ScreenShot2022-02-15at3.08.32AM.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 149px;
  }
}.u-section-5 .u-image-1 {
  min-height: 500px;
  background-image: url("images/ScreenShot2022-02-15at3.03.10AM2.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 149px;
  }
}.u-section-6 .u-image-1 {
  min-height: 500px;
  background-image: url("images/ScreenShot2022-02-15at3.03.46AM.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 149px;
  }
}